<nav class="main-nav">
    <ul class="main-menu">
    <? foreach($navigation->getNavigation('main')->getChilds() as $node): ?>
        <li <?if($node->isActive()) echo 'class="active"'; ?> >
        <a href="<?=$node->getUrl();?>" <? if( $node->hasChilds() ) echo 'class="'.$node->getClass().'"';  ?>>
            <i class="<?=$node->getIcon();?>"></i>
            <span class="text"><?=$node->getName();?></span>
            <? if( $node->hasChilds() ): ?>
            <i class="toggle-icon fa fa-angle-down"></i>
            <? endif; ?>
        </a>
        <? if( $node->hasChilds() ): ?>
        <ul class="sub-menu">
        <? foreach($node->getChilds() as $subnode): ?>
            <li class="<?=$subnode->getClass();?>">
            <a href="<?=$subnode->getUrl();?>">
                <i class="<?=$subnode->getIcon();?>"></i>
                <span class="text"><?=$subnode->getName();?></span>
            </a>
            </li>
        <? endforeach; ?>
        </ul>
        <? endif; ?>
        </li>
    <? endforeach; ?>
    </ul>
</nav>

<!-- append-blocks -->

<div class="sidebar-minified js-toggle-minified">
<i class="fa fa-angle-left"></i>
</div>

