<div class="row content-breadcrumb">
    <div class="col-xs-12 col-sm-9">
        <? if(isset($BREADCRUMB)):?>
        <ul class="breadcrumb">
        <? foreach($BREADCRUMB as $i => $item): ?>
            <?if( !empty($item['active']) ): ?>
            <li class="active">
                <?if(!empty($item['icon'])):?>
                <i class="<?=$item['icon'];?>"></i>
                <?endif;?>
                <?=$item['name'];?>
            </li>
            <?else:?>
            <li><a href="<?=$item['url'];?>">
                <?if(!empty($item['icon'])):?>
                <i class="<?=$item['icon'];?>"></i>
                <?endif;?>
                <?=$item['name'];?>
            </a></li>
            <?endif;?>
        <? endforeach; ?>
        </ul>
        <?else:?>
        <p class="breadcrumb text-warning">路徑未設定</p>
        <?endif;?>
    </div>

    <div class="hidden-xs col-sm-3">
        <div class="top-content">通知事件!</div>
    </div>
</div>